* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
}

body {
background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 93%);
}

.contenedor1 {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 40px;
}

.logo-sec {
display: flex;
align-items: center;
}

.logo-icon {
width: 60px;
height: 60px;
margin-right: 10px;
}

.logo-text {
font-weight: bold;
color: white;
font-size: 20px;
}

.nav-links {
display: flex;
gap: 30px;
}

.nav-links a {
color: white;
font-weight: 700;
font-size: 20px;
text-decoration: none;
}

nav a.active{
color: limegreen;
}

.search-box input {
padding: 5px 10px;
border-radius: 5px;
border: 1px solid #000;
}

.main-content {
display: flex;
justify-content: center;
align-items: center;
height: calc(100vh - 100px);
}
.main-content img{
	width: 420px;
	height: -250px;
	border-radius: 35px;
	position: relative;
	padding: -5rem;
	margin: -5rem;
	font-size: -5rem;

}

.main-content h1 {
font-size: 80px;
font-weight: 900;
color: white;
}
